spring:
  cloud:
    nacos:
      server-addr: ${NACOS_ADDR:127.0.0.1:8848}
      username: ${NACOS_USERNAME:}
      password: ${NACOS_PASSWORD:}
      discovery:
        namespace: ${NACOS_NAMESPACE:dev}
        group: ${NACOS_GROUP:DEFAULT_GROUP}
        metadata:
          version: 1.0.0
      config:
        namespace: ${NACOS_NAMESPACE:dev}
        group: ${NACOS_GROUP:DEFAULT_GROUP}
    # LoadBalancer 配置
    loadbalancer:
      ribbon:
        enabled: false
      cache:
        enabled: true
        ttl: 5s
    # OpenFeign 配置
    openfeign:
      client:
        config:
          default:
            connect-timeout: 10000
            read-timeout: 60000
      compression:
        request:
          enabled: true
        response:
          enabled: true
  datasource:
    druid:
      web-stat-filter:
        enabled: true
      stat-view-servlet:
        enabled: true
        allow:
        url-pattern: /druid/*
        login-username:
        login-password:
      filter:
        stat:
          enabled: true
          log-slow-sql: true
          slow-sql-millis: 100
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true
    dynamic:
      druid:
        initial-size: 1
        min-idle: 1
        max-active: 20
        max-wait: 60000
        time-between-eviction-runs-millis: 60000
        min-evictable-idle-time-millis: 600000
        max-evictable-idle-time-millis: 1800000
        validation-query: SELECT 1 # PostgreSQL 环境下避免默认的 dual 查询报错
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
      primary: master
      datasource:
        master:
          url: jdbc:postgresql://127.0.0.1:55432/xiaolvshu_message?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
          driver-class-name: org.postgresql.Driver
          username: ${POSTGRES_USER:postgres}
          password: ${POSTGRES_PASSWORD:postgres}
        slave:
          lazy: true
          url: jdbc:postgresql://127.0.0.1:55433/xiaolvshu_message?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&nullCatalogMeansCurrent=true
          driver-class-name: org.postgresql.Driver
          username: ${POSTGRES_USER:postgres}
          password: ${POSTGRES_PASSWORD:postgres}

